@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  padding: 5px;
  font-family: "PT Sans", sans-serif;
  background-color: rgba(150, 149, 149, 0.901);
}

.global-container {
  display: grid;
  grid-template-columns: 175px auto;
}

.nav-container {
  background-color: black;
}

.navbar {
  background-color: black;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: max-content;
  padding: 0 20px;
  position: sticky;
  top: 0px;
}

.navbar a {
  width: 100%;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(40, 40, 40);
}

/* info-container content */
.container {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
}


.content-wrapper {
  margin-top: 20px;

}

.content-wrapper:first-child {
  margin-top: 0;
  background-image: url("./images/dark-background.jpg");
  background-size: cover;
  background-position: center;
}

.content-wrapper:last-child {
  margin-bottom: 0;
}

.content-container {
  color: white;
  border-radius: 20px;
  background-color: rgba(100, 100, 100, 0.3);
  margin-left: 0;
  padding: 20px;
}

.content-container h1,
.content-container h2 {
  font-family: cursive;
  margin-top: 0;
  color: white;
}


.content-container h1 {
  text-align: center;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}

#about .image-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0px 0xp 5px black;
  background-image: url("images/profile_pic.jpg");
  background-size: cover;
  background-position: center;
}

#about p {
  background-color: rgba(50, 50, 50, 0.8);
  padding: 5px;
  margin: 0px;
  text-align: center;
  font-size: large;
}



#education {}

#skills ul,
.tech-stack {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-evenly;
}

#skills ul {
  list-style: none;
  flex-direction: row;
  padding: 0;
}

#skills .tech-stack {
  color: white;
  flex-direction: column;
  min-width: 200px;
  min-height: 200px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(70, 70, 70, 0.856);
}

table {
  width: 100%;
}

footer {
  padding: 20px;
  color: white;
  font-size: large;
  background-color: gray;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-evenly;
}

footer a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}

footer div {
  padding: 5px;
}

@media (max-width: 768px) {
  .global-container {
    display: block;
  }

  .navbar {
    height: min-content;
    position: sticky;
    top: 0
  }

  .container {
    padding: 5px;
    margin-left: 0px;
    margin-top: 0px;
  }

  #about .image-container {
    width: 200px;
    height: 200px;
  }

  #skills .tech-stack {
    margin: 5px;
  }
}



#skills .tech-stack:hover,
footer div:hover {
  box-shadow: 0 0 4px 1px black;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}